
body {
    background-color: rgb(77, 77, 77);
}

.header {
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    color: white;
    justify-content: center;
    align-content: center;
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.laps {
    margin-right: 200px;
}
.buttons {
    text-align: center;
}

.timerContainer {
    text-align: center;
}

.timeDisplay {
    font-size: 40px;
}